
@font-face {
    font-family: HVD_Peace;
    src: url("../fonts/HVD_Peace.ttf");
}

@font-face {
    font-family: Sickness;
    src: url("../fonts/Sickness.ttf")
}

.container {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.game_window {
    border: 3px solid #008000;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;

}

.canvas {
    max-width: 100%;
}

.game_status {
    border: 3px solid green;
    width: auto;
}
