
@font-face {
    font-family: HVD_Peace;
    src: url("../fonts/HVD_Peace.ttf");
}

@font-face {
    font-family: Sickness;
    src: url("../fonts/Sickness.ttf")
}

@font-face {
    font-family: Friday;
    src: url("../fonts/Friday.ttf")
}

@font-face {
    font-family: Howlinmad;
    src: url("../fonts/Howlinmad.ttf")
}

.container {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.game_window {
    background: #000;
    border: 3px solid #008000;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.canvas {
    max-width: 100%;
}

button
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #000;
    cursor: none;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background:-webkit-linear-gradient(top, #a3a3a3, #000);
    background:-moz-linear-gradient(top, #a3a3a3, #000);
    background: linear-gradient(top, #a3a3a3, #000);

    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: absolute;
    left: 500;
    top: 50;

}

button:active
{
    background: -webkit-linear-gradient(top, #858565, #c5c9a9);
    background: -moz-linear-gradient(top, #858565, #c5c9a9);
    background: linear-gradient(top, #858565, #c5c9a9);
}

.screen-shake {
    animation: screen-shake 0.5s;
    -webkit-animation: screen-shake 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes screen-shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
