
.container {
    width: fit-content;
    margin: auto;
}

.game_window {
    border: 3px solid green;
    width: fit-content;
    height: fit-content;
}

.canvas {
    max-width: 100%;
}

.game_status {
    border: 3px solid green;
    width: auto;
}
